{% extends "__base__.html" %}
{% block title %}{% endblock title %}
{% block content %}
    <section class="mr-4 ml-4">
        <div class="row pt-4 pb-2">
            <i class="fas fa-users icon-users"></i>
            <h1>Przepisy naszych użytkowników:</h1>
            <hr>
            <div class="orange-line w-100"></div>
        </div>
    </section>

    <section class="width-medium text-color-darker">
        <div class="pb-2">
            <div class="border-dashed view-height w-100">
                <div class="mt-4 ml-4 mr-4">
                    <div class="row border-bottom border-3">
                        <div class="col"><h3 class="color-header text-uppercase">Szczegóły przepisu</h3></div>
                        <div class="col d-flex justify-content-end mb-2"><a href="#" class="btn btn-color rounded-0 pt-0 pb-0 pr-4 pl-4">Powrót</a></div>
                    </div>
         
                    <table class="table borderless">
                        <tbody>
                            <tr class="d-flex">
                                <th scope="row" class="col-2">Nazwa Przepisu</th>
                                <td class="col-7">
                                    Zapiekanka z ziemniakami i brukselką
                                </td>
                            </tr>
                            <tr class="d-flex">
                                <th scope="row" class="col-2">Opis przepisu</th>
                                <td class="col-7">Mamusina najlepsza zapiekanka pod słońcem. Można ją podać jako główne danie albo jako kolację. W zapiekance możesz użyć również kiełbasy paprykowej sprawi ona, że zapiekanka będzie ostrzejsza w smaku. Zgodnie z zalecanimi Makłowicza, podawać z dobrze dobranym winkiem ;)</td>
                            </tr>
                            <tr class="d-flex">
                                <th scope="row" class="col-2">Przygotowani(minuty)</th>
                                <td class="col-7">
                                    45
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="row d-flex">
                        <div class="col-5 border-bottom border-3"><h3 class="text-uppercase">Sposób przygotowania</h3></div>
                        <div class="col-2"></div>
                        <div class="col-5 border-bottom border-3"><h3 class="text-uppercase">Składniki</h3></div>
                    </div>
                    <div class="row d-flex">
                        <div class="col-5 p-4">
                            <p>Po tym czasie ziemniaki zalej śmietaną wymieszaną z Knorr Naturalnie smaczne, dodaj liście brukselki i dokładnie wymieszaj.</p>
                        </div>
                        <div class="col-2"></div>
                        <ul class="col-5 p-4 list-unstyled">
                            <li>brukselka 300g</li>
                            <li>ziemniaki 500g</li>                               
                            <li>Fix Naturalnie makaronowa z szynką Knorr 1 szt.</li>                               
                            <li>średnia cebula 1szt.</li>                                
                            <li>ząbek czosnku 1szt.</li>                               
                            <li>kiełbasa np. śląska 500g</li>                               
                            <li>śmietana 18% 200 ml</li>
                            <li>Rama Smaż jak szef kuchni, wariant klasyczny 4 łyżki</li>
                            <li>gałązka tymianku 1 szt.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}