{% extends "__base__.html" %}
{% block title %}{% endblock title %}
{% block content %}
<section>

    <div class="row padding-small">
        <i class="fas fa-users icon-users"></i>
        <h1>Przepisy naszych użytkowników:</h1>
        <hr>
        <div class="orange-line w-100"></div>
    </div>
</section>
<section class="mr-4 ml-4">
    <div class="col d-flex justify-content-end mb-4 noPadding">
        <a href="/recipe/add"
           class="btn btn-success rounded-0 pt-0 pb-0 pr-4 pl-4">Dodaj
            przepis</a>
    </div>
    <table class="table">
        <thead>
        <tr class="d-flex text-color-darker">
            <th scope="col" class="col-1">NR</th>
            <th scope="col" class="col-2">NAZWA</th>
            <th scope="col" class="col-3">POLUBIENIA</th>
            <th scope="col" class="col-5">OPIS</th>
            <th scope="col" class="col-1">AKCJE</th>
        </tr>
        </thead>
        <tbody class="text-color-lighter">
        {% for recipe in sorting %}
            <tr class="d-flex">
                <th scope="row" class="col-1">{{ forloop.counter }}</th>
                <td class="col-3">
                    {{ recipe.name }}
                </td>
                <td class="col-2">
                    {{ recipe.votes }}
                </td>
                <td class="col-4">
                    {{ recipe.description }}
                </td>
                <td align="right" class="col-2">
                    <a href="/recipe/{{ recipe.id }}" class="btn btn-info rounded-0 text-light">Szczegóły</a>
                    <a href="/recipe/modify/{{ recipe.id }}" class="btn btn-warning rounded-0 text-light m-1">Edytuj</a>
                    <a href="/recipe/delete/{{ recipe.id }}" class="btn btn-danger rounded-0 text-light m-1">Usuń</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</section>
<section>
    <div class="pagination">
    <span class="step-links">
        {% if users.has_previous %}
            <a href="?page=1">&laquo;</a>
            <a href="?page={{ users.previous_page_number }}">poprzednia</a>
        {% endif %}
        <span class="current">
            Page {{ users.number }} of {{ users.paginator.num_pages }}.
        </span>
        {% if users.has_next %}
            <a href="?page={{ users.next_page_number }}">nastepna</a>
            <a href="?page={{ users.paginator.num_pages }}"> &raquo;</a>
        {% endif %}
    </span>
    </div>
</section>
<section class="last-info-section padding-small">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3 class="mb-4">Lorem ipsum dolor</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat
                    volutpat. Donec placerat nisl magna.</p>
            </div>
            <div class="col pl-4 ml-4">
                <h3 class="mb-4">Lorem ipsum dolor</h3>
                <ul class="container">
                    <li>consectetur adipiscing elit</li>
                    <li>sed do eiusmod tempor</li>
                    <li>incididunt ut labore</li>
                    <li>et dolore magna aliqua</li>
                </ul>
            </div>
            <div class="col">
                <h3 class="mb-4">Lorem ipsum dolor</h3>
                <div class="input-group mb-3">
                    <input type="text" class="form-control border-0 rounded-0" placeholder=""
                           aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="input-group-text btn-color border-0 rounded-0" type="submit" id="basic-addon2"><a
                                href="index.html">Lorem</a></button>
                    </div>
                </div>
                <div class="container d-flex-row">
                    <a href="#">
                        <i class="fab fa-facebook-square mr-4 icon-social"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-twitter-square mr-4 icon-social"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-instagram icon-social"></i>
                    </a>
                </div>
            </div>
{% endblock content %}